.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  flex: 0 0 20%;
}

.cardImage {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 6px;
  margin-bottom: 12px;
  object-fit: cover;
}
.cardplacement {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: center;
}
